@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=IBM+Plex+Sans+Thai+Looped:wght@400;600;700&family=Noto+Serif+Thai:wght@400;700&family=Urbanist:ital,wght@0,500;0,900;1,500;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  @apply py-2;
}

.page-layout {
  @apply m-auto grid w-[96vw] place-items-center gap-12 pt-4 xl:w-[64vw];
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 700;
}

p,
span,
button,
input,
article,
section {
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
}

.article-title {
  font-family: "Noto Serif Thai", serif;
  font-weight: bold;
}

.font-germania {
  font-family: "Germania One", cursive;
}

.content {
  @apply col-span-3 flex flex-col gap-4;
}

 .content h1 {
   font-size: unset;
   font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
   @apply text-3xl font-bold lg:text-4xl mt-8;
 }

.content h2 {
  font-size: unset;
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
  @apply text-2xl font-bold lg:text-3xl mt-8;
}

.content h3 {
  font-size: unset;
  font-family: "Taviraj", "Sarabun", sans-serif;
  @apply text-xl font-bold lg:text-2xl mt-4;
}

.content blockquote {
  @apply border-l-4 border-white/20 bg-white/10 p-4 text-lg lg:text-xl;
}

.content img,
video {
  @apply mx-auto my-2 max-h-[65vh] max-w-full rounded-xl object-cover;
}

.content img {
  @apply mx-auto my-2 max-h-[65vh] max-w-full rounded-xl object-cover;
}

.content figcaption {
  @apply pb-4 text-center italic text-gray-400;
}

.content p > a {
  text-decoration: unset;
  text-decoration: underline;
  font-weight: 700;
}

.content ul > li > a {
  text-decoration: unset;
  text-decoration: underline;
  font-weight: 700;
}

.content ul {
  @apply list-inside list-disc;
}

.content iframe {
  @apply mx-auto max-w-full rounded-xl;
}

.title {
  font-size: unset;
  font-family: "Urbanist", "IBM Plex Sans Thai Looped", sans-serif;
  @apply text-4xl font-bold lg:text-5xl;
}

.subtitle {
  font-size: unset;
  font-family: "Urbanist", "Noto Serif Thai", sans-serif;
  @apply text-lg lg:text-xl;
}