<div class="w-full m-auto">
	<div class="flex flex-row w-full justify-between items-center">
		<div id="webring-wrapper">
			<a href="https://webring.hackclub.com/" id="previousBtn" class="webring-anchor" title="Previous">‹</a>
			<a href="https://webring.hackclub.com/" class="webring-logo" title="Hack Club Webring" alt="Hack Club Webring"></a>
			<a href="https://webring.hackclub.com/" id="nextBtn" class="webring-anchor" title="Next">›</a>
		</div>
		<div class="flex flex-row gap-4">
			<a
				href="https://creatorsgarten.org/ring"
				title="Creatorsgarten Ring"
				class="max-w-[32px]"
			>
				<img src="/icons/ring-thin.svg" alt="Creatorsgarten Ring"/>
			</a>
			<a
				href="https://webring.wonderful.software#tinarskii.com"
				title="วงแหวนเว็บ"
				class="max-w-[32px]"
			>
				<img src="/icons/webring.svg" alt="Webring.in.th Ring"/>
			</a>
		</div>
	</div>
</div>
<div
	class="flex w-full items-center justify-center"
>
	<p class="text-center text-gray-400">
		Made by Tinnaphat Somsang <br />
		No Rights Reserved.
		<a
			href="https://github.com/tinarskii/astro-tinarskii.com"
			class="underline"
		>
			View source
		</a>
	</p>
</div>
